[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
marshmallow = "==3.0.0rc1"
inflection = "*"
urlopen = "*"
"bs4" = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
pytest-cov = "*"
pylint = "*"
pandoc = "*"
pip = "*"
guzzle-sphinx-theme = "*"
vcrpy = "*"

[requires]
python_version = "3.6"
