interactions:
- request:
    body: '{"folderId": "lib_rdWSmOmk", "bases": "AGGATAT", "name": "ed7387f5-e37a-4cd8-81b9-cbc63689b896"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"isCircular is a required field\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"isCircular
        is a required field\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
- request:
    body: '{"name": "c541ccd8-e5fd-44fd-8576-294b9f4a4f4e", "bases": "AGGATAT", "folderId":
      "lib_rdWSmOmk", "isCircular": false}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"AGGATAT\",\n  \"createdAt\": \"2019-11-15T23:34:44.591363+00:00\",\n  \"creator\":
        {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\": [],\n
        \ \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_ENgmIHue\",\n  \"isCircular\": false,\n  \"length\": 7,\n
        \ \"modifiedAt\": \"2019-11-15T23:34:44.686559+00:00\",\n  \"name\": \"c541ccd8-e5fd-44fd-8576-294b9f4a4f4e\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": null,\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_ENgmIHue-c541ccd8-e5fd-44fd-8576-294b9f4a4f4e/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_ENgmIHue-c541ccd8-e5fd-44fd-8576-294b9f4a4f4e/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_ENgmIHue
    status:
      code: 201
      message: CREATED
version: 1
