interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
    method: GET
    uri: https://benchling.com/api/v2/folders?pageSize=1
  response:
    body:
      string: "{\n  \"folders\": [\n    {\n      \"archiveRecord\": null,\n      \"id\":
        \"lib_hwqYhUFZ\",\n      \"name\": \"1\",\n      \"parentFolderId\": null,\n
        \     \"projectId\": \"src_Ns9tw40v\"\n    }\n  ],\n  \"nextToken\": \"WyIxIiwgImxpYl9od3FZaFVGWiJd\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
