interactions:
- request:
    body: '{"schemaId": "ts_VncPkR5T", "aminoAcids": "AMVGKLALDLSD", "folderId": "lib_rdWSmOmk",
      "name": "MyProtein"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/aa-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"aminoAcids\": \"AMVGKLALDLSD\",\n  \"annotations\":
        [],\n  \"archiveRecord\": null,\n  \"authors\": [\n    {\n      \"handle\":
        \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n
        \   }\n  ],\n  \"createdAt\": \"2019-10-16T00:42:15.894405+00:00\",\n  \"creator\":
        {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"prtn_of9unJ61\",\n
        \ \"length\": 12,\n  \"modifiedAt\": \"2019-10-16T00:42:15.894405+00:00\",\n
        \ \"name\": \"MyProtein\",\n  \"registryId\": null,\n  \"schema\": {\n    \"id\":
        \"ts_VncPkR5T\",\n    \"name\": \"Protein\"\n  },\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/prtn_of9unJ61-myprotein/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/prtn_of9unJ61-myprotein/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/aa-sequences/prtn_of9unJ61
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "MyProtein", "schemaId": "ts_VncPkR5T"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/aa-sequences
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"aminoAcids is a required field\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"aminoAcids
        is a required field\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
