interactions:
- request:
    body: '{"isCircular": false, "name": "6bb8ac36-90aa-4a71-ba1b-fd28891ad39f", "bases":
      "actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac",
      "folderId": "lib_rdWSmOmk"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac\",\n
        \ \"createdAt\": \"2019-11-15T23:37:21.038607+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\": [],\n
        \ \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_XAR3IswV\",\n  \"isCircular\": false,\n  \"length\": 134,\n
        \ \"modifiedAt\": \"2019-11-15T23:37:21.159289+00:00\",\n  \"name\": \"6bb8ac36-90aa-4a71-ba1b-fd28891ad39f\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": null,\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_XAR3IswV-6bb8ac36-90aa-4a71-ba1b-fd28891ad39f/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_XAR3IswV-6bb8ac36-90aa-4a71-ba1b-fd28891ad39f/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_XAR3IswV
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "no", "templateSequenceId": "seq_XAR3IswV",
      "files": [{"sequenceId": "seq_XAR3IswV"}, {"sequenceId": "seq_XAR3IswV"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: no\",\n    \"type\":
        \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm: no\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "not_an_algorithm", "templateSequenceId":
      "seq_1OLHRxqu", "files": [{"sequenceId": "seq_1OLHRxqu"}, {"sequenceId": "seq_1OLHRxqu"},
      {"sequenceId": "seq_1OLHRxqu"}, {"sequenceId": "seq_1OLHRxqu"}, {"sequenceId":
      "seq_1OLHRxqu"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: not_an_algorithm\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm:
        not_an_algorithm\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
version: 1
