interactions:
- request:
    body: '{"isCircular": false, "name": "MyNewSeq", "annotations": [{"color": "#FF9CCD",
      "start": 1, "strand": 1, "name": "bla gene", "type": "gene", "end": 3}, {"color":
      "#FF9CCD", "start": 1, "strand": -1, "name": "bla gene", "type": "gene", "end":
      5}], "bases": "AGCGTATGTGTGTA", "schemaId": "ts_eBbzNtMs", "folderId": "lib_rdWSmOmk"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [\n    {\n      \"color\":
        \"#FF9CCD\",\n      \"end\": 5,\n      \"name\": \"bla gene\",\n      \"start\":
        1,\n      \"strand\": -1,\n      \"type\": \"gene\"\n    },\n    {\n      \"color\":
        \"#FF9CCD\",\n      \"end\": 3,\n      \"name\": \"bla gene\",\n      \"start\":
        1,\n      \"strand\": 1,\n      \"type\": \"gene\"\n    }\n  ],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"AGCGTATGTGTGTA\",\n  \"createdAt\": \"2019-10-17T19:47:00.785544+00:00\",\n
        \ \"creator\": {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n
        \   \"name\": \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\":
        [],\n  \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_5dLMA1aB\",\n  \"isCircular\": false,\n  \"length\": 14,\n
        \ \"modifiedAt\": \"2019-10-17T19:47:00.944363+00:00\",\n  \"name\": \"MyNewSeq\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": {\n    \"id\":
        \"ts_eBbzNtMs\",\n    \"name\": \"Aquarium Fragment\"\n  },\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_5dLMA1aB-mynewseq/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_5dLMA1aB-mynewseq/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_5dLMA1aB
    status:
      code: 201
      message: CREATED
[...]
