interactions:
- request:
    body: '{"aliases": [], "isCircular": false, "folderId": "lib_rdWSmOmk", "name":
      "065f384d-774a-443c-9b46-d4b4b1a0cc68", "customFields": {}, "annotations": [],
      "bases": "actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac",
      "fields": {}}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac\",\n
        \ \"createdAt\": \"2019-11-16T02:05:16.495887+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\": [],\n
        \ \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_xkZAz5gC\",\n  \"isCircular\": false,\n  \"length\": 134,\n
        \ \"modifiedAt\": \"2019-11-16T02:05:16.584342+00:00\",\n  \"name\": \"065f384d-774a-443c-9b46-d4b4b1a0cc68\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": null,\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_xkZAz5gC-065f384d-774a-443c-9b46-d4b4b1a0cc68/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_xkZAz5gC-065f384d-774a-443c-9b46-d4b4b1a0cc68/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_xkZAz5gC
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "not_an_algorithm", "templateSequenceId":
      "seq_xkZAz5gC", "files": [{"sequenceId": "seq_EyQfQ3jf"}, {"sequenceId": "seq_OzuookFY"},
      {"sequenceId": "seq_nlNQhpWE"}, {"sequenceId": "seq_C6fGspjy"}, {"sequenceId":
      "seq_j6hK2Hwt"}, {"sequenceId": "seq_DEkLgqGf"}, {"sequenceId": "seq_YPpXg4Yk"},
      {"sequenceId": "seq_Sc5mRNBv"}, {"sequenceId": "seq_AdwAQjs0"}, {"sequenceId":
      "seq_2ukGdazl"}, {"sequenceId": "seq_R3IvIKNn"}, {"sequenceId": "seq_onjFQH7p"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: not_an_algorithm\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm:
        not_an_algorithm\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "not_an_algorithm", "templateSequenceId":
      "seq_IaXpcvkY", "files": [{"sequenceId": "seq_JQnRCtlK"}, {"sequenceId": "seq_21Koofca"},
      {"sequenceId": "seq_ztX3ilfo"}, {"sequenceId": "seq_KJdvrvv2"}, {"sequenceId":
      "seq_ZnBJR8dy"}, {"sequenceId": "seq_HEDU8FoT"}, {"sequenceId": "seq_M8XJC5AN"},
      {"sequenceId": "seq_bczAjLpr"}, {"sequenceId": "seq_IWpM5fJu"}, {"sequenceId":
      "seq_ciSWbhKQ"}, {"sequenceId": "seq_RIE37E5r"}, {"sequenceId": "seq_oMVCWFUH"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: not_an_algorithm\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm:
        not_an_algorithm\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
version: 1
