interactions:
- request:
    body: '{"folderId": "lib_rdWSmOmk", "customFields": {}, "fields": {}, "isCircular":
      false, "bases": "actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac",
      "aliases": [], "name": "f050212d-de07-4e8a-a80c-4bd7f147209f", "annotations":
      []}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"actccaattggtgatggtccagtcttgttaccagacaaccattacttatccactcaatctgccttatccaaagatccaaacgaaaagagagaccacatggtcttgttagaatttgttactgctgctggtattac\",\n
        \ \"createdAt\": \"2019-11-16T00:54:05.059467+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\": [],\n
        \ \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_ot72XABD\",\n  \"isCircular\": false,\n  \"length\": 134,\n
        \ \"modifiedAt\": \"2019-11-16T00:54:05.210092+00:00\",\n  \"name\": \"f050212d-de07-4e8a-a80c-4bd7f147209f\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": null,\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_ot72XABD-f050212d-de07-4e8a-a80c-4bd7f147209f/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_ot72XABD-f050212d-de07-4e8a-a80c-4bd7f147209f/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_ot72XABD
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "not_an_algorithm", "templateSequenceId":
      "seq_ot72XABD", "files": [{"sequenceId": "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"},
      {"sequenceId": "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"}, {"sequenceId":
      "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"},
      {"sequenceId": "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"}, {"sequenceId":
      "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"}, {"sequenceId": "seq_ot72XABD"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: not_an_algorithm\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm:
        not_an_algorithm\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
- request:
    body: '{"name": "my new alignment", "algorithm": "not_an_algorithm", "templateSequenceId":
      "seq_PgDwJvOF", "files": [{"sequenceId": "seq_Xhi1qIk5"}, {"sequenceId": "seq_AduBsfJC"},
      {"sequenceId": "seq_kNkOPV63"}, {"sequenceId": "seq_Nlqp9vbv"}, {"sequenceId":
      "seq_VWuwpSIf"}, {"sequenceId": "seq_JgRT4ZC9"}, {"sequenceId": "seq_goxUgHV1"},
      {"sequenceId": "seq_ldPt9DAW"}, {"sequenceId": "seq_cwVZDgBa"}, {"sequenceId":
      "seq_W6HuD1DC"}, {"sequenceId": "seq_1ZHCHSqm"}, {"sequenceId": "seq_lNlcuDAH"}]}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-alignments:create-template-alignment
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"Invalid algorithm: not_an_algorithm\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"Invalid algorithm:
        not_an_algorithm\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
version: 1
