interactions:
- request:
    body: '{"schemaId": "ts_yCWDhgZ8", "name": "MyEntity", "folderId": "lib_rdWSmOmk",
      "aliases": []}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/custom-entities
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"archiveRecord\": null,\n  \"authors\": [\n
        \   {\n      \"handle\": \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n
        \     \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"createdAt\": \"2019-10-16T00:42:11.804470+00:00\",\n
        \ \"creator\": {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n
        \   \"name\": \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\":
        null,\n  \"fields\": {\n    \"Aquarium ID\": {\n      \"displayValue\": null,\n
        \     \"isMulti\": false,\n      \"textValue\": null,\n      \"type\": \"integer\",\n
        \     \"value\": null\n    },\n    \"Aquarium Name\": {\n      \"displayValue\":
        null,\n      \"isMulti\": false,\n      \"textValue\": null,\n      \"type\":
        \"text\",\n      \"value\": null\n    },\n    \"Description\": {\n      \"displayValue\":
        null,\n      \"isMulti\": false,\n      \"textValue\": null,\n      \"type\":
        \"long_text\",\n      \"value\": null\n    },\n    \"Sequence\": {\n      \"displayValue\":
        null,\n      \"isMulti\": false,\n      \"textValue\": null,\n      \"type\":
        \"dna_sequence_link\",\n      \"value\": null\n    }\n  },\n  \"folderId\":
        \"lib_rdWSmOmk\",\n  \"id\": \"bfi_fElr1s9t\",\n  \"modifiedAt\": \"2019-10-16T00:42:11.804470+00:00\",\n
        \ \"name\": \"MyEntity\",\n  \"registryId\": null,\n  \"schema\": {\n    \"id\":
        \"ts_yCWDhgZ8\",\n    \"name\": \"Aquarium Sample\"\n  },\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/bfi_fElr1s9t-myentity/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/bfi_fElr1s9t-myentity/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/custom-entities/bfi_fElr1s9t
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"aliases": [], "name": "MyEntity", "schemaId": "ts_yCWDhgZ8"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/custom-entities
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"folderId is a required field\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"folderId
        is a required field\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
