interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
    method: GET
    uri: https://benchling.com/api/v2/registries
  response:
    body:
      string: "{\n  \"registries\": [\n    {\n      \"id\": \"src_KE6uFvex\",\n      \"name\":
        \"Registry\",\n      \"owner\": {\n        \"handle\": \"klavinslab\",\n        \"id\":
        \"ent_8avhPeKB\",\n        \"name\": \"Klavins Lab\"\n      }\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
    method: GET
    uri: https://benchling.com/api/v2/registries/src_KE6uFvex/registered-entities:bulk-get?entityRegistryIds=adsklfherhg
  response:
    body:
      string: "{\n  \"error\": {\n    \"invalidIds\": [\n      \"adsklfherhg\"\n    ],\n
        \   \"message\": \"Invalid entityRegistryId: adsklfherhg\",\n    \"type\":
        \"invalid_request_error\",\n    \"userMessage\": \"Invalid entityRegistryId:
        adsklfherhg\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
    method: GET
    uri: https://benchling.com/api/v2/registries/src_KE6uFvex/registered-entities:bulk-get?entityRegistryIds=adsklfherhg
  response:
    body:
      string: "{\n  \"error\": {\n    \"invalidIds\": [\n      \"adsklfherhg\"\n    ],\n
        \   \"message\": \"Invalid entityRegistryId: adsklfherhg\",\n    \"type\":
        \"invalid_request_error\",\n    \"userMessage\": \"Invalid entityRegistryId:
        adsklfherhg\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
      X-Sentry-ID:
      - 6e7e627a7a76412caaf3d0c2714ba226
    status:
      code: 400
      message: BAD REQUEST
version: 1
