interactions:
- request:
    body: '{"folderId": "lib_rdWSmOmk", "name": "MyOligo", "bases": "AGTAGCATG"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/oligos
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"archiveRecord\": null,\n  \"authors\": [\n
        \   {\n      \"handle\": \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n
        \     \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\": \"AGTAGCATG\",\n
        \ \"createdAt\": \"2019-10-16T00:42:20.533434+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"seq_ayI1ghlg\",\n
        \ \"length\": 9,\n  \"modifiedAt\": \"2019-10-16T00:42:20.625288+00:00\",\n
        \ \"name\": \"MyOligo\",\n  \"registryId\": null,\n  \"schema\": null,\n  \"webURL\":
        \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_ayI1ghlg-myoligo/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/oligos/seq_ayI1ghlg
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"bases": "AGTAGCATG", "name": "MyOligo"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/oligos
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"folderId is a required field\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"folderId
        is a required field\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
- request:
    body: '{"bases": "AGTAGCATG", "name": "MyOligo", "folderId": "lib_rdWSmOmk"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/oligos
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"archiveRecord\": null,\n  \"authors\": [\n
        \   {\n      \"handle\": \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n
        \     \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\": \"AGTAGCATG\",\n
        \ \"createdAt\": \"2019-10-16T14:37:03.715830+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"seq_GbHmJflF\",\n
        \ \"length\": 9,\n  \"modifiedAt\": \"2019-10-16T14:37:03.811997+00:00\",\n
        \ \"name\": \"MyOligo\",\n  \"registryId\": null,\n  \"schema\": null,\n  \"webURL\":
        \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_GbHmJflF-myoligo/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/oligos/seq_GbHmJflF
    status:
      code: 201
      message: CREATED
version: 1
