interactions:
- request:
    body: '{"annotations": [{"end": 3, "color": "#FF9CCD", "start": 1, "type": "gene",
      "strand": 1, "name": "bla gene"}, {"end": 5, "color": "#FF9CCD", "start": 1,
      "type": "gene", "strand": -1, "name": "bla gene"}], "schemaId": "ts_eBbzNtMs",
      "isCircular": false, "folderId": "lib_rdWSmOmk", "name": "MyNewSeq", "bases":
      "AGCGTATGTGTGTA"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"annotations\": [\n    {\n      \"color\":
        \"#FF9CCD\",\n      \"end\": 3,\n      \"name\": \"bla gene\",\n      \"start\":
        1,\n      \"strand\": 1,\n      \"type\": \"gene\"\n    },\n    {\n      \"color\":
        \"#FF9CCD\",\n      \"end\": 5,\n      \"name\": \"bla gene\",\n      \"start\":
        1,\n      \"strand\": -1,\n      \"type\": \"gene\"\n    }\n  ],\n  \"archiveRecord\":
        null,\n  \"authors\": [\n    {\n      \"handle\": \"uwbiofab\",\n      \"id\":
        \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\":
        \"AGCGTATGTGTGTA\",\n  \"createdAt\": \"2019-10-16T00:42:13.886777+00:00\",\n
        \ \"creator\": {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n
        \   \"name\": \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"dnaAlignmentIds\":
        [],\n  \"entityRegistryId\": null,\n  \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n
        \ \"id\": \"seq_rCwblmn0\",\n  \"isCircular\": false,\n  \"length\": 14,\n
        \ \"modifiedAt\": \"2019-10-16T00:42:14.119575+00:00\",\n  \"name\": \"MyNewSeq\",\n
        \ \"primers\": [],\n  \"registryId\": null,\n  \"schema\": {\n    \"id\":
        \"ts_eBbzNtMs\",\n    \"name\": \"Aquarium Fragment\"\n  },\n  \"translations\":
        [],\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_rCwblmn0-mynewseq/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_rCwblmn0-mynewseq/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/dna-sequences/seq_rCwblmn0
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"annotations": [{"color": "#FF9CCD", "name": "bla gene", "end": 3, "start":
      1, "strand": 1, "type": "gene"}, {"color": "#FF9CCD", "name": "bla gene", "end":
      5, "start": 1, "strand": -1, "type": "gene"}], "name": "MyNewSeq", "schemaId":
      "ts_eBbzNtMs", "bases": "AGCGTATGTGTGTA"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/dna-sequences
  response:
    body:
      string: "{\n  \"error\": {\n    \"message\": \"folderId is a required field\",\n
        \   \"type\": \"invalid_request_error\",\n    \"userMessage\": \"folderId
        is a required field\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: BAD REQUEST
[...]
