interactions:
- request:
    body: '{"name": "MyOligo", "bases": "AGTAGCATG", "folderId": "lib_rdWSmOmk"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/oligos
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"archiveRecord\": null,\n  \"authors\": [\n
        \   {\n      \"handle\": \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n
        \     \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\": \"AGTAGCATG\",\n
        \ \"createdAt\": \"2019-11-16T02:03:47.624638+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"seq_IIQMKqOD\",\n
        \ \"length\": 9,\n  \"modifiedAt\": \"2019-11-16T02:03:47.726216+00:00\",\n
        \ \"name\": \"MyOligo\",\n  \"registryId\": null,\n  \"schema\": null,\n  \"webURL\":
        \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_IIQMKqOD-myoligo/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/oligos/seq_IIQMKqOD
    status:
      code: 201
      message: CREATED
- request:
    body: '{"folderId": "lib_rdWSmOmk", "bases": "AGTAGCATG", "name": "MyOligo"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/oligos
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"archiveRecord\": null,\n  \"authors\": [\n
        \   {\n      \"handle\": \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n
        \     \"name\": \"UW BIOFAB\"\n    }\n  ],\n  \"bases\": \"AGTAGCATG\",\n
        \ \"createdAt\": \"2019-11-16T02:04:52.168710+00:00\",\n  \"creator\": {\n
        \   \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"seq_zOZBMf76\",\n
        \ \"length\": 9,\n  \"modifiedAt\": \"2019-11-16T02:04:52.239884+00:00\",\n
        \ \"name\": \"MyOligo\",\n  \"registryId\": null,\n  \"schema\": null,\n  \"webURL\":
        \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/seq_zOZBMf76-myoligo/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/oligos/seq_zOZBMf76
    status:
      code: 201
      message: CREATED
version: 1
