interactions:
- request:
    body: '{"name": "MyProtein", "aminoAcids": "AMVGKLALDLSD", "schemaId": "ts_VncPkR5T",
      "folderId": "lib_rdWSmOmk"}'
    headers:
      Authorization:
      - Basic c2tfZTlnZ2ZsT2JqUWVTaFVMaXVBQVhxSWtEVHR0dWs6
      Content-Type:
      - application/json
    method: POST
    uri: https://benchling.com/api/v2/aa-sequences
  response:
    body:
      string: "{\n  \"aliases\": [],\n  \"aminoAcids\": \"AMVGKLALDLSD\",\n  \"annotations\":
        [],\n  \"archiveRecord\": null,\n  \"authors\": [\n    {\n      \"handle\":
        \"uwbiofab\",\n      \"id\": \"ent_opWGVHRa\",\n      \"name\": \"UW BIOFAB\"\n
        \   }\n  ],\n  \"createdAt\": \"2019-10-17T19:47:03.060173+00:00\",\n  \"creator\":
        {\n    \"handle\": \"uwbiofab\",\n    \"id\": \"ent_opWGVHRa\",\n    \"name\":
        \"UW BIOFAB\"\n  },\n  \"customFields\": {},\n  \"entityRegistryId\": null,\n
        \ \"fields\": {},\n  \"folderId\": \"lib_rdWSmOmk\",\n  \"id\": \"prtn_rlXjgRjU\",\n
        \ \"length\": 12,\n  \"modifiedAt\": \"2019-10-17T19:47:03.060173+00:00\",\n
        \ \"name\": \"MyProtein\",\n  \"registryId\": null,\n  \"schema\": {\n    \"id\":
        \"ts_VncPkR5T\",\n    \"name\": \"Protein\"\n  },\n  \"url\": \"/uwbiofab/f/lib_rdWSmOmk-api_trash/prtn_rlXjgRjU-myprotein/edit\",\n
        \ \"webURL\": \"https://benchling.com/uwbiofab/f/lib_rdWSmOmk-api_trash/prtn_rlXjgRjU-myprotein/edit\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://benchling.com/api/v2/aa-sequences/prtn_rlXjgRjU
    status:
      code: 201
      message: CREATED
[...]
